--extra-index-url https://pypi.ecog.io

asyncio-mqtt==0.16.2 ; python_version >= "3.12" and python_version < "4.0"
asyncio==3.4.3 ; python_version >= "3.12" and python_version < "4.0"
attrs==25.4.0 ; python_version >= "3.12" and python_version < "4.0"
cffi==2.0.0 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy"
cryptography==44.0.0 ; python_version >= "3.12" and python_version < "4.0"
dataclasses-json==0.6.7 ; python_version >= "3.12" and python_version < "4.0"
docutils==0.21.2 ; python_version >= "3.12" and python_version < "4.0"
environs==14.5.0 ; python_version >= "3.12" and python_version < "4.0"
greenlet==3.2.4 ; python_version >= "3.12" and python_version < "4.0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
jsonschema-specifications==2025.9.1 ; python_version >= "3.12" and python_version < "4.0"
jsonschema==4.23.0 ; python_version >= "3.12" and python_version < "4.0"
marshmallow==3.26.1 ; python_version >= "3.12" and python_version < "4.0"
mqtt-api==3.10.0 ; python_version >= "3.12" and python_version < "4.0"
mypy-extensions==1.1.0 ; python_version >= "3.12" and python_version < "4.0"
ocpp @ git+https://github.com/mobilityhouse/ocpp.git@ae716a1507d708d83743d1132587cbb03522cda7 ; python_version >= "3.12" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.12" and python_version < "4.0"
paho-mqtt==1.6.1 ; python_version >= "3.12" and python_version < "4.0"
pycparser==2.23 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
pyopenssl==25.1.0 ; python_version >= "3.12" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "4.0"
python-dotenv==1.2.1 ; python_version >= "3.12" and python_version < "4.0"
referencing==0.37.0 ; python_version >= "3.12" and python_version < "4.0"
rpds-py==0.30.0 ; python_version >= "3.12" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.12" and python_version < "4.0"
sqlalchemy==2.0.44 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version < "4.0" and python_version >= "3.12"
typing-inspect==0.9.0 ; python_version >= "3.12" and python_version < "4.0"
websockets==12.0 ; python_version >= "3.12" and python_version < "4.0"
